@{
    ViewData["Title"] = "Confirmar Ingreso a un Grupo";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar su ingreso a un Grupo. Cuando se loguee a FULBO PULENTA verá el Grupo al que ha ingresado dentro de 'Mis Grupos'.
    </p>
</div>