@{
    ViewData["Title"] = "Desestimar Ingreso a un Grupo";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Lamentamos que no quiera confirmar su ingreso a un Grupo. Quizás en una próxima oportunidad. Gracias.
    </p>
</div>